# pip-compile --upgrade --no-header --allow-unsafe requirements.in > requirements.txt
# in case pip-compile is not available, do `pip install pip-tools`

ansible<=5
aws-sam-cli
boto3
dnspython
netaddr
pyyaml
requests
